<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>welcome page</title>
</head>
<body>

<div class="container">
        <h1>demo blog welcome 페이지 입니다 하하</h1>
    <h3><div th:text="${username}"></div> 님 반갑습니다</h3>

    <a href="/oauth2/authorization/google">Google Login</a><br>
    <a href="/oauth2/authorization/kakao">Kakao Login</a><br>
    <a href="/posts">글 등록</a><br>
    <a href="/mypage">마이 페이지</a><br>
    <a href="/login">Login!</a><br>
    <a href="/logout">Logout!</a><br>

</div> <!-- /container -->

</body>
</html>